@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
.capas{
    width: 40%;
    border-radius: 10px;
}
.book{
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    gap: 0.2em; 
    font-family: Poppins;
}
.preco{
    font-size: 20px;
    font-weight: bold;
}
.titulo-livro{
    font-weight: bold;
    text-align: center;
    font-size: 17px;
}
.editora{
    font-size: 14px;
    color: #333;
}
.posicao-botao{
    margin-left: 145px;
}