@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body{
  font-family: Poppins;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url('./wallpaper.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}
h1{
  text-align:center;
}
h2{
  margin-bottom: 10px;
}
p{
  margin: 10px 0;
}
input{
  box-sizing: border-box;
}
button{
  background-color: #118990;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}
button:hover{
  opacity: 1;
}
.todo-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}
.todo{
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-form{
  padding-bottom: 1.5rem;
}
input,select{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
}
.complete{
  background-color: #5cb85c;
}
.remove{
  background-color: #d9563d;
}
.filter, .search{
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.filter-options{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.filter-options div{
  flex: 1 1 0;
}
.category{
  font-size: 13px;
  background-color: #e1e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: inline;
  justify-content: space-between;
  align-items: center;
}
.form{
  display: flex;
  align-items: center;
  gap: 1em;
}
.filter__content{
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
}
.filter__item{
  flex: 1 0 0;
}